#main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#chart {
  margin: 0;
  padding: 0;
}

#sets-input-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 300px;
}

@media only screen and (min-width: 600px) {
  #main-content {
    flex-direction: row;
  }
}